.wrapper {
  display: flex;
  align-items: center;
  padding: 5px 16px;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }
  box-sizing: border-box;
}
.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  flex: 1px;
  margin-left: 12px;
}
.checkicon {
  width: 8px;
  height: 8px;
  margin-left: 6px;
  color: rgb(32, 213, 236);
}
.name {
  font-size: 1.6rem;
  font-weight: 600;
}

.username {
  font-size: 1.4rem;
  color: rgba(22, 24, 35, 0.5);
  font-weight: 400;
  line-height: 5px;
}
