.search,
.search-result {
  width: 500px;
}
.search {
  position: relative;
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  padding-left: 16px;
  display: flex;
  border: 1px solid transparent;
  input {
    border: none;
    font-size: 1.6rem;
    color: rgb(22, 24, 35);
    outline: none;
    height: 100%;
    background-color: transparent;
    flex: 1;
    caret-color: red;
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}
.clear,
.loading {
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  right: calc(var(--search-button-width) + 16px);
  transform: translateY(-50%);
  background-color: transparent;
}
.loading {
  animation: spinner 2s linear infinite;
}
@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
.search-btn {
  width: var(--search-button-width);
  height: 100%;
  border: none;
  outline: none;
  border-top-right-radius: 92px;
  border-bottom-right-radius: 92px;
  font-size: 1.8rem;
  border-left: 1px solid;
  color: rgba(22, 24, 35, 0.34);
  &:hover {
    background-color: rgba(22, 24, 25, 0.03);
    cursor: pointer;
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
.search-title {
  height: 30px;
  padding: 6px 12px;
  font-size: 1.4rem;
  line-height: 18px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}
